@font-face {
  font-family: "Roboto", sans-serif;
  src: url("./assets/fonts/Roboto-Bold.ttf"),
    url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400, 700;
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: hsl(235, 18%, 26%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
}

h2,
p {
  margin: 0px;
}

.sign-up {
  margin: 0px 0.38%;
  padding: 1.74%;
  max-width: 880px;
  width: calc(100% - 50px);

  background-color: hsl(0, 0%, 100%);

  display: flex;
  justify-content: space-between;

  border-radius: 20px;
}

.sign-up__image {
  order: 1;
}

.sign-up__description {
  padding: 75px 7.39% 75px 4.55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-up__heading {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.sign-up__list {
  margin: 0px;
  padding-left: 0px;
}

.sign-up__item {
  margin: 20px 0px;
  list-style: none;

  display: flex;
  gap: 15px;
  align-items: center;
}

.sign-up__email-section {
  display: grid;
  grid-template-rows: auto 55px 70px;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.sign-up__label {
  font-weight: 700;
}

.sign-up__error-message {
  font-weight: 700;
  justify-self: end;
  color: hsl(4, 100%, 67%);
}

.sign-up__input {
  font-size: 16px;
  grid-column: span 2;
  padding: 20px;

  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%);
}

.sign-up__input::placeholder {
  color: hsl(231, 7%, 60%);
}

.sign-up__input:hover {
  cursor: pointer;
}

.sign-up__input-error {
  background-color: hsla(4, 100%, 67%, 0.25);
  border-color: hsl(4, 100%, 67%);
}

.sign-up__button {
  margin-top: 15px;
  grid-column: span 2;
  background-color: hsl(234, 29%, 20%);

  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);

  border-radius: 5px;
  border: 1px solid hsl(234, 29%, 20%);
}

.sign-up__button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgb(237, 96, 125),
    hsl(4, 100%, 67%),
    rgb(238, 114, 75)
  );
  border: 0px;
  box-shadow: 1px 1px 10px 1px hsl(4, 100%, 67%);
}

.success-message {
  margin: 0px 0.38%;
  padding: 45px 4.52%;
  max-width: 375px;
  width: calc(100% - 120px);

  position: absolute;
  background-color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: column;
  gap: 25px;

  border-radius: 20px;
}

.success-message__image {
  width: 64px;
  margin-bottom: 20px;
}

.success-message__heading {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.user-email {
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.success-message__button {
  margin-top: 20px;
  height: 55px;
  background-color: hsl(234, 29%, 20%);

  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);

  border-radius: 5px;
  border: 1px solid hsl(234, 29%, 20%);
}

.success-message__button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgb(237, 96, 125),
    hsl(4, 100%, 67%),
    rgb(238, 114, 75)
  );
  border: 0px;
  box-shadow: 1px 1px 10px 1px hsl(4, 100%, 67%);
}

@media (max-width: 890px) {
  body {
    height: fit-content;
  }

  .sign-up {
    border-radius: 0px;
    flex-direction: column;
  }

  .sign-up__image {
    height: 285px;
    margin: -2%;
    margin-bottom: 0px;
    order: 0;
    content: url("./assets/images/illustration-sign-up-mobile.svg");
    object-fit: cover;
    border-radius: 0px 0px 30px 30px;
  }

  .sign-up__description {
    padding: 45px 7.39%;
    gap: 30px;
  }
}

@media (max-width: 495px) {
  .success-message {
    width: calc(100% - 50px);
    height: calc(100vh - 195px);
    top: 0px;
    border-radius: 0px;
    padding: 150px 4.52% 45px 4.52%;
  }
}
